<div class=header>
    &nbsp;
    <h1 id="name">Tanvir's kart!</h1>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="#" (click)="select('fruit')">Fruits</a>
      <a href="#" (click)="select('vegetables')">Vegetables</a>
      <a href="#" (click)="select('dairy')">Dairy</a>
      <a href="#" (click)="select('dryfruit')">Dry Fruits</a>
    </div>
    <!-- <table id="tab" >
        <thead>
            <td>Item Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Quantity</td>
        </thead>
    </table> -->
  
    <div class=navigator>
  
      <span id="color" style="font-size: 30px; cursor :pointer" (click)="openNav()">&#9776;</span>
    </div>
  
  </div>
  